<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url"
			value="jdbc:mysql://127.0.0.1:3306/devicemanage?characterEncoding=UTF-8">
		</property>
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean>
	<bean id="mySessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>

			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>org/model/Deviceclass.hbm.xml</value>
				<value>org/model/Device.hbm.xml</value>
				<value>org/model/User.hbm.xml</value>
				<value>org/model/Information.hbm.xml</value>
				<value>org/model/Shopingcart.hbm.xml</value>
				<value>org/model/Shopingorder.hbm.xml</value>
				<value>org/model/Shopingorderitem.hbm.xml</value>
			</list>
		</property>
	</bean>
	<!-- 1. DeviceClass-->
	<bean id="myDeviceClassDao" class="org.dao.imp.DeviceClassDaoImp">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>
	<bean id="mydeviceClassAction" class="app.action.imp.DeviceClassActionImp">
		<property name="deviceClassDao" ref="myDeviceClassDao" />
	</bean>
	<!-- 2. Device-->
	<bean id="myDeviceDao" class="org.dao.imp.DeviceDaoImp">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>
	<bean id="mydeviceAction" class="app.action.imp.DeviceActionImp">
		<property name="deviceDao" ref="myDeviceDao" />
	</bean>
	<!-- 3. Information-->
	<bean id="myInformationDao" class="org.dao.imp.InformationDaoImp">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>
	<bean id="myinformationActionApp" class="app.action.imp.InformationActionImp">
		<property name="informationDao" ref="myInformationDao" />
	</bean>
	<bean id="myinformationActionWeb" class="web.action.imp.InformationActionImp">
		<property name="informationDao" ref="myInformationDao" />
	</bean>
	<!-- 4. User-->
	<bean id="myUserDao" class="org.dao.imp.UserDaoImp">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>
	<bean id="myuserAction" class="app.action.imp.UserActionImp">
		<property name="userDao" ref="myUserDao" />
	</bean>
	<!-- 5. Shopingorderitem-->
	<bean id="myShopingorderitemDao" class="org.dao.imp.ShopingorderitemDaoImp">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>
	<bean id="myshopingorderitemAction" class="app.action.imp.ShopingorderitemActionImp">
		<property name="shopingorderitemDao" ref="myShopingorderitemDao" />
		<property name="shopingorderDao" ref="myShopingorderDao" />
		<property name="deviceDao" ref="myDeviceDao" />
	</bean>
	<!-- 6. Shopingorder-->
	<bean id="myShopingorderDao" class="org.dao.imp.ShopingorderDaoImp">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>
	<bean id="myshopingorderAction" class="app.action.imp.ShopingorderActionImp">
		<property name="shopingorderDao" ref="myShopingorderDao" />
		<property name="userDao" ref="myUserDao" />
	</bean>
	<!-- 7. Shopingcart-->
	<bean id="myShopingcartDao" class="org.dao.imp.ShopingcartDaoImp">
		<property name="sessionFactory" ref="mySessionFactory" />
		<property name="shopingorderDao" ref="myShopingorderDao" />
		<property name="shopingorderitemDao" ref="myShopingorderitemDao" />
	</bean>
	<bean id="myshopingcartAction" class="app.action.imp.ShopingcartActionImp">
		<property name="shopingcartDao" ref="myShopingcartDao" />
		<property name="deviceDao" ref="myDeviceDao" />
		<property name="userDao" ref="myUserDao" />
	</bean>
	
</beans>
